$select-border: rgba(0, 0, 0, 0.2);
$select-li: #f7f7f9;
$bg-li: #ffffff;
.o-select{
  border: 0;
  outline: none;
  width: 100%;
  font-size: 16px;
  height: 32px;
  position: relative;
  border-bottom: 1px solid $select-border;
  &__arrow{
    position: absolute;
    right: 5px;
    line-height: 32px;
    z-index: 1;
  }
  ul{
    margin: 0;
    padding: 0;
    // border: 1px solid $select-border;
    border-radius: 2px;
    // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: absolute;
    height: 32px;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    &:hover{
      height: auto !important;
      cursor: pointer;
      li:first-child{
        border: 0;
        border-bottom: 1px solid $select-border;
      }
      li{
        border-left: 1px solid $select-border;
        border-right: 1px solid $select-border;
      }
    }
    li:first-child:hover{
      background-color: $bg-li;
      height: 32px;
    }
    li:first-child{
      padding: 0;
    }
    li{
      background-color: $bg-li;
      display: flex;
      align-items: center;
      height: 32px;
      border-bottom: 1px solid $select-border;
      z-index: 10;
      padding: 4px 0 4px 4px;
      &:hover{
        background-color: $select-li;
        cursor: pointer;
      }
    }
  }
}
